<p id="notice"><%= notice %></p>

<h1>Listing Feeds</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Url</th>
      <th>Content</th>
      <th>Publish date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @feeds.each do |key, value| %>
      <tr>
        <td><%= value[:title] %></td>
        <td><%= value[:description] %></td>
        <td><%= value[:link] %></td>
        <td><%= value[:pubDate] %></td>
        <!--<td>< %= link_to 'Show', "/feeds/#{URI.encode key}" %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>
