<%= form_for(@rss_url) do |f| %>
  <% if @rss_url.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rss_url.errors.count, "error") %> prohibited this rss_url from being saved:</h2>

      <ul>
      <% @rss_url.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
